html{
  text-align: center;
  background-color: pink;
}
div{
  padding: 50px;
}
input{
  height: 30px;
  width: 100%;
  margin: 0 auto;
}
button{
  margin: 0 auto;
  height: 40px;
  display: block;
  padding: 0 30px
}
